@font-face {
  font-family: Merri;
  src: url('../assets/font/Merriweather-Regular.ttf');
}

@font-face {
  font-family: Merri-Bold;
  src: url('../assets/font/Merriweather-Bold.ttf');
}

@font-face {
  font-family: Merri-Light;
  src: url('../assets/font/Merriweather-Light.ttf');
}

@font-face {
    font-family: Merri-Italic;
    src: url('../assets/font/Merriweather-Italic.ttf');
}

@font-face {
    font-family: Merri-BoldItalic;
    src: url('../assets/font/Merriweather-BoldItalic.ttf');
}

@font-face {
    font-family: Merri-LightItalic;
    src: url('../assets/font/Merriweather-LightItalic.ttf');
}

@font-face {
    font-family: Merri-Black;
    src: url('../assets/font/Merriweather-Black.ttf');
}

@font-face {
    font-family: Merri-BlackItalic;
    src: url('../assets/font/Merriweather-BlackItalic.ttf');
}